*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
#header{
    background-image: url('background.png');
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.container{
    margin-right:100px ;
    margin-left:100px ;


}

.logo{
    margin-top: 30px;
    width: 100px;

}
.header-text{
    max-width: 450px;
    margin-top: 140px;
}
h1{
    font-size: 34px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fc7692;
    margin: 15px 0;
}
.common-btn{
    width:200px ;
    padding: 18px 14px;
    background: transparent;
    outline: none;
    border: 2px solid #fab3c4;
    font-weight: bold;
    cursor: pointer;
    transition: 2s ;
    border-radius: 27px;

}
.common-btn:hover{
    color: black;
    background: lightpink;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
p{
    font-size:15px ;
    line-height: 18px;
    color: #777;

}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;

}
#side-nav{
    width: 250px;
    height: 100vh;
    position: fixed;
     right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: 0.3s;
}
nav ul li{
    list-style: none;
    margin:50px 20px;
    font-size: 20px;


}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: black;
    text-decoration: underline;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    width: 50%;


}
#menu-btn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;

}
/*about*/

#about,#offer{
    padding:100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.left-col{
    flex-basis: 50%;

}
.left-col img{
width: 100%;
}
.right-col{
    flex-basis: 50%;
    text-align: right;

}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}
.about-text h3{
    font-size: 20px;
    color: grey;
}
/*features*/
#features{
    padding: 50px 0 50px;
}
.features-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.features-col{
    flex-basis: 25%;
    text-align: center;

}
.features-col img{
    width: 100px;
}
.features-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
.features-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.features-btn .line{
    text-align: right;
    display:inline-block ;
    margin-right: 25px;


}
/*couses*/
#courses{
    padding: 100px 0;

}


.courses-right-col{
    flex-basis: 50%;


}
.courses-right-col img{
    width: 100%;
}
.course-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;x
}
.courses-left-col{
    flex-basis: 50%;
}
.course-text button{
    margin: 30px 0;

}
.course-text{
    max-width: 350px;
}
/*offer*/
#offer button{

    margin: 30px 0;

}
/*contact*/
.contact-row{
    flex-wrap: wrap;
    display: flex;
    align-items: center;

}
.contact-left-col,.contact-right-col{
    flex-basis: 50%;


}
.contact-right-col img{
    width: 100%;

}
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
    border-radius: 20px;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;

}
/*footer*/

#footer{
    padding: 50px 0 30px;

}
hr{
    width: 100%;
    border;0;
    border-top:1px solid #f67c92;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;

}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.link-title h4{
    color:#fab3c4;
    margin-bottom: 20px;

      }
.link-title small{
    color:#777;
    font-size: 13px;

}
.footer-info{
    display:inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;


}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;
}
.footer-logo img{
    width: 100px;


}
.footer-text,.footer-logo{
    flex-basis: 40%;
}
/*icons*/
.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;

}
